<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>

    <div class="container">
        <h1>SongStock</h1>
        <p class="question">Bienvenido a SongStock MarketPlace</p>

        <div class="buttons-container">
            <a href="{{ url_for('login') }}" class="button">Iniciar Sesión</a>
            <a href="{{ url_for('registro') }}" class="button">Registrarse</a>
        </div>
    </div>

</body>
</html>

